@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h1>Salon</h1>
<hr>

<h2>Edit Client: @Model["item"].GetDescription()</h2>
</div>
<div class = "container">
<form action="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()" method="post">
  <label for="newDescription">Client Name:</label>
  <input type="text" name="newDescription" value="@Model["item"].GetDescription()"> <br>
  <label for="newShiftDate">Shift Start</label>
    <input id="newShiftDate" name="newShiftDate" type="datetime-local"><br>
	<br>
	<label for="newEndShift">Shift End</label>
    <input id="newEndShift" name="newEndShift" type="datetime-local"><br>
	 <input type = "hidden" name="newCutInfo" value="@Model["item"].GetInfo()">
	 <label for="newImgUrl">Image URL:</label>
	 <input type="text" name="newImgUrl" value="@Model["item"].GetDescription()"><br>
	 <label for="newPrice">Price $</label>
	 <input type="number" name="newPrice" value="@Model["item"].GetDescription()"><br>
  <button type="submit">Edit</button>
</form>
<br><br><br>
</div>
<div class = "footer">
	<div class = "row">
		<div class = "col-md-4"></div>
		<div class = "col-md-4">
			<h4><a class="btn btn-default btn-lg" role = "button" href="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()">Return to previous page</a></h4>
		</div>
		<div class = "col-md-4"></div>
	</div>
</div>
