<h1>Client Details: </h1>

<h2>Client: @Model["item"].GetDescription()</h2>
<h3>Stylist: @Model["category"].GetName()</h3>
<h3>Appointment Start: @Model["item"].GetDate()</h3>
<h3>Appointment End: @Model["item"].GetEnd()</h3>
<h3>Haircut Type: @Model["item"].GetInfo()</h3>

<a href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/edit'>Edit this Info</a>
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add New Client</a></p>
<p><a href='/categories'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
