@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h3>Here is all of the clients for employee: @Model["category"].GetName()</h3>
</div>
<div class = "container">
<ol>

@if (Model["items"].Count == 0)
{
  <p>You have no clients for the stylist:  @Model["category"].GetName()</p>
}
@if(Model["items"].Count != 0)
{
@foreach (var item in @Model["items"])
{
  <li><img src="@item.GetUrl()" alt="Could Not Find Image" height="50" width="50">Client Name: <a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a></li>
  <br>
}
}
</ol>
<br><br><br>
</div>
<div class = "footer">
	<div class = "row">
		<div class = "col-md-2">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories/@Model["category"].GetId()/items/new'>Add new Client</a></p>
		</div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories'>Return to Stylist list</a></p>
		</div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/items/deleteAll/delete'>Delete All Clients</a></p>
		</div>
		<div class = "col-md-2">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories/@Model["category"].GetId()/delete'>Delete This Stylist</a></p>
		</div>
		<div class = "col-md-2">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories/@Model["category"].GetId()/edit'>Edit Stylist</a></p>
		</div>
	</div>
</div>
